.card{
  text-align: center;
  border-radius: 10px;
  color: grey;
  background-color: white;
  box-shadow: 2px 2px 2px 0 rgba(1,1,0,.1);
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: normal;
}

.card div {
  padding: 10px;
}

  .card img {
    width: 100%
  }

#users-search{
  margin-top: 25px;
  margin-bottom: 15px;
}
